
    <!-- Banner 2 Start -->
{{ banner_two }}
    <div class="w-full px-6 container-main container">
      <div class="flex flex-col md:flex-row gap-4">
      <div class="ml-3 md:ml-20 w-full md:w-1/2 space-y-6 content-center py-8 md:py-44 order-2">
        <h1 class="!text-[var(--primary_colour)]">
          {{ b2_header }}
        </h1>
        <p class="!text-[var(--primary_colour)]">{{ b2_body_copy}}</p>
        <button class="!text-[var(--primary_colour)] !bg-[var(--object_bg_colour)]/20 hover:!bg-[var(--object_bg_colour)]/40">{{ b2_cta }}</button>
      </div>
      <div class="md:order-none w-full md:w-1/2 object-cover order-1">
        <img class="scale-75" src="{{ glide :src="b2_image" fit="crop_focal" }}" alt="">
      </div>
      </div>
    </div>
{{ /banner_two }}
  <!-- Banner 2 End -->