<!-- Cards Start -->
   <div class="container-main container grid">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
    {{ card_field }}
    <div class="w-full p-6 space-y-8 h-fr grid">
        <img class="w-full object-contain rounded-lg aspect-square" src="{{ glide :src="image" fit="crop_focal" }}" alt="">
      <h2 class="!text-[var(--primary_colour)]">
        {{ header }}
      </h2>
      <p class="!text-[var(--primary_colour)]">{{ body_copy }}</p>
      <button class="w-full place-self-end !bg-[var(--object_bg_colour)]/20 hover:!bg-[var(--object_bg_colour)]/40">{{ cta }}</button>
    </div>
    {{ /card_field }}
  </div>
</div>
  <!-- Cards End -->