    <!-- Input Form Start -->

    <div class="container-main container px-6">
     <form action="">
        <div class="w-full md:w-8/12 grid grid-row md:grid-cols-2 gap-3 mx-auto">
        <div class="w-full col-span-2 md:col-span-1">
            <label for="Name" class="block text-sm/6 font-medium ">Name</label>
            <div class="relative mt-2 rounded-lg shadow-sm">
            <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
            </div>
            <input type="text" name="Name" id="Name" class="block w-full rounded-lg border-2 py-2 pl-4 pr-20 border-[var(--primary_colour)] ring-1 ring-inset ring-[var(--primary_colour)] placeholder: focus:ring-2 focus:ring-inset focus:ring-[var(--primary_colour)]/20 sm:text-sm/6 bg-[var(--object_bg_colour)]/20" placeholder="Name">
            </div>
        </div>
        <div class="w-full col-span-2 md:col-span-1">
            <label for="email" class="block text-sm/6 font-medium ">E-Mail</label>
            <div class="relative mt-2 rounded-lg shadow-sm">
            <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
            </div>
            <input type="email" name="email" id="email" class="block w-full rounded-lg border-2 py-2 pl-4 pr-20 border-[var(--primary_colour)] ring-1 ring-inset ring-[var(--primary_colour)] placeholder: focus:ring-2 focus:ring-inset focus:ring-[var(--primary_colour)]/20 sm:text-sm/6 bg-[var(--object_bg_colour)]/20" placeholder="E-mail">
            </div>
        </div>
        <div class="w-full col-span-2">
            <label for="Message" class="block text-sm/6 font-medium ">Message</label>
            <div class="relative mt-2 rounded-lg shadow-sm">
            <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
            </div>
            <textarea type="textarea" name="Message" id="Message" class="block w-full rounded-lg border-2 py-2 pl-4 pr-20 border-[var(--primary_colour)] ring-1 ring-inset ring-[var(--primary_colour)] placeholder: focus:ring-2 focus:ring-inset focus:ring-[var(--primary_colour)]/20 sm:text-sm/6 bg-[var(--object_bg_colour)]/20" placeholder="Message" rows="4"></textarea>
            </div>
        </div>
        <button class="w-full !bg-[var(--object_bg_colour)]/20 hover:!bg-[var(--object_bg_colour)]/40">Submit</button>
        </div>
    </form>
    </div>

    <!-- Input Form End -->