<!-- Footer Start -->

<div class="w-full bg-[var(--object_bg_colour)]/10 backdrop-blur pt-10 px-6 flex flex-col border-[var(--secondary_colour)] border-t-6">
    <p class="text-center w-full pt-10">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam ipsam ratione est laboriosam doloremque?</p>
    <div class="gap-8 container flex flex-col md:flex-row items-center place-content-between pt-10">
    
        <img class="w-46 h-auto" src="{{ glide :src="branding:logo_secondary" fit="crop_focal" }}" alt="">

    <ul class=" text-pretty grid grid-rows-3 grid-flow-col" id="footer">
        {{ nav:nav }}
        <a class="m-2 hover:mb-0 hover:border-b-2 hover:border-[var(--primary_colour)] transform transition-all duration-200 ease-in-out" href="{{ url }}"><li>{{ title }}</li></a>
        {{ /nav:nav}}
    </ul>
    </div>
    <div class="border-[var(--secondary_colour)] border-t-4 space-x-16 pb-5 flex flex-row justify-center text-pretty list-none pt-5 mt-10">
<p>Designed and built by <a class="italic" href="liammarsden.com">Liam Marsden</a></p>
    </div>
</div>

<!-- Footer End -->