<!-- Header Start -->
    <nav class="w-full fixed top-0 z-50">
      <div class="m-2 flex justify-between pl-6 items-center rounded-xl top-0 site-header"> 
        <a class="w-16 h-16 pt-1" href="/"> 
          <img src="{{ glide :src="branding:logo_primary" fit="crop_focal" }}" alt="">
        </a>
        <!-- Burger (mobile only) -->
        <div id="menu-btn"
          class="md:hidden relative w-10 h-10 grid place-items-center p-6 m-6 !bg-[var(--object_bg_colour)]/20 rounded-xl hover:ring-2 hover: hover:ring-[var(--primary_colour)]"
          aria-label="Open menu" aria-expanded="false" aria-controls="menu">
          <span class="bar block absolute w-7 h-0.5 bg-[var(--secondary_colour)] transition-all duration-300 -translate-y-2"></span>
          <span class="bar block absolute w-7 h-0.5 bg-[var(--secondary_colour)] transition-all duration-300"></span>
          <span class="bar block absolute w-7 h-0.5 bg-[var(--secondary_colour)] transition-all duration-300 translate-y-2"></span>
      </div>

        <ul id="menu"
          class="fixed top-0 left-0 h-screen w-5/6 bg-[var(--object_bg_colour)] transform -translate-x-[105%] transition-transform duration-300 ease-in-out will-change-transform
                flex flex-col items-start p-6 space-y-6
                md:static md:h-auto md:w-auto md:bg-transparent md: md:transform-none md:-translate-x-0 md:flex-row md:space-y-0 md:space-x-6 md:p-0">
          <!-- your links unchanged -->
          {{ nav:nav }}
          <a class="border-[var(--secondary_colour)] border-b-4 w-full md:border-none text-5xl md:text-lg" href="{{ url }}"><li>{{ title }}</li></a>
          {{ /nav:nav }}
        </ul>
      </div>
    </nav>
   <!-- Header End -->