    <!-- Newsletter Start -->

    <div class="container-main container px-6">
    <div class="w-full flex flex-col lg:flex-row items-center gap-4 space-y-6 ">
        <span class="w-full">
            <h1 class="mb-8">Newsletter Subscription</h1>
            <p class="mr-16">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam ipsam ratione est laboriosam doloremque? Aliquam in sapiente consequuntur atque et, omnis sint adipisci, voluptatum, explicabo sed esse perferendis dolorum natus?</p>
        </span>
        <span class="w-full">
            <form action="">
                <div class="mx-auto w-full flex flex-col xl:flex-row gap-4">
                <div class="w-full">
                    <div class="relative rounded-lg shadow-sm">
                    <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center">
                    </div>
                    <input type="email" name="email" id="email" class="block w-full rounded-lg border-2 border-[var(--primary_colour)] py-2 pl-4 pr-20  ring-1 ring-inset ring-[var(--primary_colour)] placeholder: focus:ring-2 focus:ring-inset focus:ring-[var(--primary_colour)]/20 sm:text-sm/6 bg-[var(--object_bg_colour)]/20" placeholder="E-mail">
                    </div>
                </div>
                <button class="xl:w-fit !bg-[var(--object_bg_colour)]/20 hover:!bg-[var(--object_bg_colour)]/40">Submit</button>
                </div>
            </form>
        </span>
    </div>
    </div>

    <!-- Newsletter End -->