<!-- Testimonial Start -->
    <div class="w-full container container-main flex justify-center">
        <section id="testi" class=" w-full">
    <!-- Viewport -->
    <div class="relative overflow-hidden rounded-lg">
      <!-- Prev -->
      <span type="button"
        class="prev absolute cursor-pointer left-0 w-1/2 top-1/2 h-screen -translate-y-1/2 z-10 text-4xl"
        aria-label="Previous">
      </span>
      <!-- Next -->
      <span type="button"
        class="next absolute cursor-pointer right-0 w-1/2 top-1/2 h-screen -translate-y-1/2 z-10 text-4xl"
        aria-label="Next">
      </span>

      <!-- Track -->
      <div class="track flex duration-500 ease-in-out text-center">
        <!-- Slide -->
        {{ testimonials_field }}
            <div class="slide shrink-0 p-10 bg-[var(--object_bg_colour)]/20 rounded-lg mx-auto grid justify-items-center gap-6 px-6 pr-20">
            <h2 class="italic font-black text-4xl">{{ test_header }}</h2>

            <p class="italic px-2 md:px-16">
              “{{ test_content }}”
            </p>
              <div class="flex flex-col">
                <img src="{{ glide :src="test_image" fit="crop_focal" }}" alt="" class="w-16 h-16 rounded-full bg-[var(--object_bg_colour)]/50 object-cover ml-7 mb-3" />
              <p class="font-semibold">{{ test_name }} <span class="italic">– {{ test_title }}</span></p>
              </div>
            </div>
          {{ /testimonials_field }}
        <!-- Slide -->
      </div>
    </div>

    <!-- Dots -->
    <div class="dots  mt-4 flex items-center justify-center gap-2" aria-label="Carousel pagination"></div>
  </section>
    </div>
<!-- Testimonial End -->
